{% extends "accounts/modals/base_modal.html" %}

{% block modal_title %}Set New Password{% endblock %}

{% block modal_content %}
<div class="modal-body">
    <form id="setPasswordForm">
        {% csrf_token %}
        <input type="hidden" id="email" name="email" value="{{ email }}">
        <input type="hidden" id="token" name="token" value="{{ token }}">
        <div class="mb-3">
            <label for="password1" class="form-label">New Password</label>
            <input type="password" class="form-control" id="password1" name="password1" required>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2" required>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary" id="setNewPassword">Set Password</button>
</div>
{% endblock %}