{% extends "base.html" %}

{% block content %}
    <div class="ad-detail">
        <h1>{{ ad.title }}</h1>
        <div class="ad-meta">
            <p>Category: {{ ad.category.name }}</p>
            <p>Price: {{ ad.price }} $</p>
            <p>Author: {{ ad.author.username }}</p>
            <p>Views: {{ ad.views }}</p>
            <p>Posted: {{ ad.created_at|date:"d.m.Y H:i" }}</p>
        </div>
        
        <div class="ad-description">
            {{ ad.description|linebreaks }}
        </div>

        {% if user == ad.author %}
            <div class="ad-actions">
                <a href="{% url 'ads:ad_update' ad.slug %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'ads:ad_delete' ad.slug %}" class="btn btn-danger">Delete</a>
            </div>
        {% endif %}
    </div>
{% endblock %}